<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job_post - </title>
</head>
<body>
    <h2>Post a New Job</h2>
    <form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Job Title" required><br>
    <textarea name="description" placeholder="Job Description" required></textarea><br>
    <button type="submit">Post Job</button>
    </form>
    
</body>
</html>