{% extends 'management/base_admin.html' %}

{% block content %}
<h3>Employers Awaiting Verification</h3>
<table class="table">
    <tr><th>Name</th><th>License</th><th>Action</th></tr>
    {% for emp in employers %}
    <tr>
        <td>{{ emp.user.username }}</td>
        <td><a href="{{ emp.license_file.url }}" target="_blank">View License</a></td>
        <td><a class="btn btn-primary" href="{% url 'verify_employer' emp.id %}">Verify</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 
