<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume List</title>
</head>
<body>
    <h2>Your Uploaded Resumes</h2>
<ul>
  {% for resume in resumes %}
    <li>{{ resume.full_name }} - {{ resume.uploaded_at }}</li>

    {% if resume.tag_list %}
      <div class="flex flex-wrap gap-2 mt-2">
        {% for tag in resume.tag_list %}
          <span class="inline-block bg-blue-100 text-blue-800 text-xs font-medium px-3 py-1 rounded-full">
            {{ tag }}
          </span>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
</ul>


</body>
</html>