<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h2>Edit Job - {{ job.title }}</h2>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Update Job</button>
  </form>

  <a href="{% url 'jobs:employer_job_list' request.user.id %}">← Back to My Jobs</a>

</body>
</html>